{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "no-loops",
    "@tanstack/query",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@tanstack/eslint-plugin-query/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1,
    "no-loops/no-loops": 2,
    "prettier/prettier": 2,
    "@tanstack/query/exhaustive-deps": 2,
    "@tanstack/query/prefer-query-object-syntax": 1
  }
}
